/* src/app/components/navbar/navbar.scss */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  background-color: var(--c-bg-main);
  border-bottom: 1px solid var(--c-border-light);
  position: sticky;
  top: 0;
  z-index: 100;

  &__logo {
    flex: 1; /* Ocupa el espacio disponible para centrar el bloque del medio */
    color: var(--c-primary);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__center {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
  }

  &__right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}

::ng-deep .profile-btn .p-button-icon {
  font-size: 1.5rem;
}