/* src/styles.scss */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
/* Importación de iconos de PrimeNG */
@import 'primeicons/primeicons.css';

:root {
  /* --- PALETA BASE --- */
  --dark-coffee: #362417;
  --dusty-taupe: #947f6b;
  --almond-cream: #f1dabf;
  --snow: #fffbff;
  
  /* Primary */
  --c-primary: var(--dark-coffee);
  --c-primary-hover: #4a3321;
  
  /* Fondos */
  --c-bg-main: var(--snow);
  --c-bg-surface: var(--almond-cream);
  --c-bg-hover: #f9ede0;
  
  /* Textos */
  --c-text-main: var(--dark-coffee);
  --c-text-muted: var(--dusty-taupe);
  --c-text-button-primary: var(--snow);
  
  /* Bordes */
  --c-border-main: #d3c4b7;
  --c-border-focus: var(--dusty-taupe);
  --c-border-light: var(--almond-cream);
}

/* Reseteo básico opcional para asegurar consistencia */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  color: var(--c-text-main);
  background-color: var(--c-bg-main);
}

.p-dialog-mask {
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(2px);
}

/* Aplicamos a p-dialog y p-dynamicdialog */
.p-dialog,
.p-dynamicdialog {
  border-radius: 10px !important;
  overflow: hidden !important; /* Corta las esquinas de los elementos hijos */
  border: none !important;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
  background: var(--c-bg-main) !important;

  .p-dialog-header {
    padding: 1.25rem 1.5rem 0 1.5rem;
    background: var(--c-bg-main);
    // No es necesario por el momento
    // border-top-left-radius: 10px !important;
    // border-top-right-radius: 10px !important;

    .p-dialog-title {
      font-weight: 600;
      font-size: 1.1rem;
    }

    .p-dialog-header-icon {
      width: 2rem;
      height: 2rem;
      color: var(--c-text-muted);

      &:hover {
        background-color: var(--c-bg-hover);
        color: var(--c-text-main);
      }
    }
  }

  .p-dialog-content {
    padding: 0 1.5rem 1.5rem 1.5rem;
    background: var(--c-bg-main);

    // No es necesario por el momento
    // border-bottom-left-radius: 10px !important;
    // border-bottom-right-radius: 10px !important;
  }
}